---
import '../styles/global.css'
const {pageTitle} = Astro.props;

---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{pageTitle}</title>
  		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
    <style>
        html,
        body {
            font-family: system-ui;
            margin: 0;
        }
        body {
            background-color: var(--color-term-background);
            color: var(--color-term-orange);
        }
   	</style>
</html>
