---
// import BaseLayout from '../layouts/Layout.astro';
import SidebarLayout from '../layouts/SidebarLayout.astro';
// Component Imports
import Counter from '../components/Counter';

const someProps = {
	count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<SidebarLayout>
    <Counter {...someProps} client:visible>
        <h1>Hello, React!</h1>
    </Counter>
</SidebarLayout>
